[submodule "modules/builder"]
	path = modules/builder
	url = https://github.com/Gilqamesh/Builder.git
[submodule "Builder"]
	path = Builder
	url = https://github.com/Gilqamesh/Builder.git
[submodule "builder"]
	path = builder
	url = https://github.com/Gilqamesh/Builder.git
